> * Day 1: Functions,Modules,Packages
> * Day 2: Inbuilt Packages
> * Day 3: Numpy
> * Day 4: Pandas
> * Day 5: Matplotlib,Seaborn,Ploty

### Functions
##### syntax
` def functioname(arg1,arg2,....):
   statement1
   statement2
    return
 `

In [3]:
def greet():
    print("Hello World")
greet()

Hello World

In [4]:
print(greet())

Hello World
None

In [5]:
var = greet()
print(var)

Hello World
None

In [6]:
print(var)

None

In [11]:
def add(a,b):
    print(a+b)
s= add(10,20)
print(add(10,20))

30
30
None

In [20]:
def greetwithname(firstname,lastname):
    print('Hello everyone this is',firstname,lastname)
greetwithname('narmada','mani')

Hello everyone this is narmada mani

In [37]:
def greetwithname1(firstname,lastname):
    print('Hello everyone this is'+ 
          firstname+' '+lastname)
#     a = 45 + \
#     10  
greetwithname(12,34)

Hello everyone this is 12 34

In [65]:
def mysum(a,b=10): # here b default arguments and a is default arguments.
    return a+b
mysum(10)

20

In [72]:
def myrange(start,stop,step):
    while start<stop:
        yield start
        start +=step
list(myrange(0,5,2))

[0, 2, 4]

In [75]:
def myprod(*values):
    f=1
    for i in values:
        f=f*i
    return f
myprod(1,2,3)# positional arguments.

6

In [91]:
def mytable(n,start=1,stop=10):
    while start<=stop:
        print(n,'*',start,'=',(n*start))
        start +=1
mytable(5,2,5)

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [52]:
l2=[3,12,10,2]
def isprime(n):
    c=0
    for i in range(1,n+1):
        #DocString
        '''This is python
        welcome to apssdc'''
        if n%i==0:
            c +=1
    if c==2:
        return n
def printprime(l1):
    #DocString
    'gsdfjg jshdfhjhg hjjdfhj'
    for i in l1:
        res=isprime(i)
        if res==2:
            yield i
# l1=[print(i) for i in l2 if isprime(i)]
# printprime(l1)
list(printprime(l2))

[2]

In [141]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [195]:
import myfun

In [196]:
dir(myfun)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'marks',
 'predict']

In [197]:
myfun.marks # To get value from the another file.

100

In [198]:
myfun.predict(6) # to get value from the function in a another file.

13

In [199]:
def propername(fname,lname):# Read two string name
    fname=fname.strip().capitalize()
    lname=lname.strip().capitalize()
    return fname+' '+lname
propername('     narmada','mani')

'Narmada Mani'

In [200]:
def propername_single(name): # only read one string
    name = name.strip().title()
    return name
#     for i in name:
#         print(i.capitalize(),end=" ")
print(propername_single('   narmada mani       '))

Narmada Mani

# anonymus function
syntax `lambda arguments:expression'

In [203]:
# add teo list values.............
a = [1,2,3,4]
b = [2,3,4,5]
def add_two_list(a,b):
    l1=[]
    for i in range(len(a)):
        l1.append(a[i]+b[i])
    return l1
add_two_list(a,b)

[3, 5, 7, 9]

In [61]:
studentmarks = [['raj',56,78,98],['ravi',30,56,67],['mani',45,67,90],
                ['krishna',75,85,44]]
# add the total marks for each student data.
def student_total_marks(l1):
    sum1 = 0
    for i in l1:
        for j in range(1,len(i)):
            sum1 = sum1 +i[j]
        i.append(sum1)
        print(i)
           # print(i[0],i[j])       
student_total_marks(studentmarks)

['raj', 56, 78, 98, 232]
['ravi', 30, 56, 67, 385]
['mani', 45, 67, 90, 587]
['krishna', 75, 85, 44, 791]

In [62]:
sorted(studentmarks,key= lambda x:x[-1])

[['raj', 56, 78, 98, 232],
 ['ravi', 30, 56, 67, 385],
 ['mani', 45, 67, 90, 587],
 ['krishna', 75, 85, 44, 791]]

In [31]:
l1=[67,78,56,65]
for i in range(len(l1)):
    for j in range(len(l1)):
        if l1[i]<l1[j]:
            temp = l1[i]
            l1[i]=l1[j]
            l1[j]= temp
print(l1)

[56, 65, 67, 78]

In [66]:
check = sorted(studentmarks,key= lambda x:x[2])
maths = 0
for i in check:
    if i[-1]>maths:
        name = i[0]
print(name)

krishna

In [67]:
check

[['ravi', 30, 56, 67, 385],
 ['mani', 45, 67, 90, 587],
 ['raj', 56, 78, 98, 232],
 ['krishna', 75, 85, 44, 791]]

In [43]:
a=[1,2,3]
b=[4,5,6]
list(map(lambda x,y:x+y,a,b))

[5, 7, 9]

In [59]:
list(map(lambda x:x%2==0,a))

True

In [71]:
list(map(isprime,range(1,10)))

[None, 2, 3, None, 5, None, 7, None, None]

In [60]:
res = lambda a,b:a+b
res(2,3)

5

In [79]:
# pattern
k=1
for i in range(1,6):
    for j in range(1,6):
        if i>=j:
            print(k,end=" ")
            k +=1
        else:
            print(" ")

1



2 3


4 5 6

7 8 9 10
11 12 13 14 15

In [3]:
n = int(input())
while n!=1:
    if n%2==0:
        n=3*n+1
        #print(n)
    else:
        n=n//2
        #print(n)
if n==0:
    print('NO')
else:
    print('YES')

64
YES

In [7]:
n = 5
pat = []
val = 1
for i in range(n):
    pat.append([])
    pat[i].extend(list(range(val,val+n-i)))
    val = pat[i][-1]+1
pat

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12], [13, 14], [15]]